<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>

<script>
  document.addEventListener("DOMContentLoaded", async function () {
    await datable.authenticate('7c2c35c6-25a4-4b04-a121-b97f96868bb6', 'eyJhbGciOiJSUzI1NiJ9.eyJ1cm46ZXhhbXBsZTpjbGFpbSI6dHJ1ZSwiaWF0IjoxNjg0OTAxODQ5LCJzdWIiOiJhMmFlNGRhYy0zMjdlLTRiOWUtOGQwMS0wMmMxYTliYzNjOTEiLCJleHAiOjE2ODQ5MDU0NDl9.kVi0Pl6lb05u_ukSlZyQ4BB_zBvGeLnS2Fto-Wy2YWpjQCXM77lTmhosgdLSnZKo0UU4TOOwVOvKwlhRDDBLg__w-bS6aFBgdV3345xFZYZI2M86GqA4L58cF7LUgr7ptJHAXR7doQhR96XZpkYnjgFpBJb7xKWSHLp5ybqwFD_6ulzcqsKa82ycxTk9zCfKSYZjVTS-9EWI0ZbhkcAEGTcnYYCkusqRrG2EY90uGGDcv9VdSfJPITtFIfk2kmDrUaC_C3X4JfnfWmVRl6KGQAtBPJUjtRgD25oVlSY-FnqyurR57Gr7ZgdEVMdErwSRgxxiJUrMwlJrOtWAVsj7Pg')
  });
</script>