<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <script src="https://cdn.staging.datable.jp/sdk/20230524213041_8d188839f9a38a7dd3b09ad1fbed5a7e947d518e/datable-sdk.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
