<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <script src="https://cdn.staging.datable.jp/sdk/20230525145132_a81ac5eb6355b450753fdb2061090eec36c8b559/datable-sdk.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
